body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.row, button, input, label {
	margin: 5px 0;
}	

input {
	width: 104px;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: red;
}
