<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title style=display>Cubo Sumatorio</title>
</head>
<body>
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xl-12">
            	<form id="principal" class="basic-form">
            		<div class="row">				
						<div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
							<label for="T">Casos de testeo (T)*:</label>
						</div>
						<div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
							<input type="number" class='onlyNumber' min='1' max='50' value='1' required name="T" id="T"/>
						</div>
					</div>
					<div class="row">				
						<div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
							<label for="N">Dimensiones del cubo(N)*:</label>
						</div>
						<div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
							<input type="number" class='onlyNumber' min='1' max='100' value='1' required name="N" id="N"/>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
							<label for="M">Operaciones(M)*:</label>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
							<input type="number" class='onlyNumber' min='1' max='1000' value='1' required name="casos" id="casos"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>